<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template::head">
    </head>
    <body>
        <header th:replace="plantilla/template::navbar"></header> 
        <header th:replace="plantilla/template::carousel"></header> 
        <header th:replace="plantilla/template::list"></header>
        <button type="button" class="btn btn-primary btn-lg" >Large button</button>
    </body>
</html>
